* {
    box-sizing: border-box;
    font-size: 12px;
}

html, body {
    margin: 0;
}

.header-row {
    display: flex;
    justify-content: space-between;
}

.header-row h2 {
    font-size: 18px;
    font-style: bold;
}

.header-row p {
    color: grey;
    padding-top: 8px;
}

.outer-container {
    margin: 0 10px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.comment {
    margin: 10px 0;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: top;
    text-align: left;
    padding: 0 10px;
    border-radius: 6px;
}

.text  {
    margin-left: 20px;
    width: 70%;
}

.comment img {
    width: 40px;
    margin-top: 10px;
}

.thank-you {
    border: .5px solid grey;
    padding: 10px;
}

.bold {
    font-weight: bold;
}

#read {
    border: none;
    background-color: white;
    color: grey;
}

.marked {
    background-color: hsl(210, 60%, 98%);
}

@media(min-width:1200px) {

    body {
        background-color: hsl(210, 60%, 98%);
    }

    .outer-container {
        width: 1000px;
        background-color: white;
        padding: 20px 50px;
    }
}